<!DOCTYPE html>
<html>
  <head>
    <title>Splutry</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
     <header class="row">
       <div class="col-3">
       <%= link_to root_path do %>
       <div class="circle">
         <br />
         YOLO
         <br />
         LOL
         <br />
         OMG
        <% end %>
     </div>
       </div>
       <div class="col-4">
          Splurting out unsolicited advice about entrepreneurship since 2016
       </div>
       <div class="col-5">
       <div class="col-5 links">
         <%= link_to 'Contribue', new_quote_path %>
         <%= link_to 'About', '#' %>
       </div>
     </header>

     <hr />

     <br class="clear" />
       
     <div class="container">
       <%= yield %>
     </div>

     <div> 

     <div class="footer">
       <div class="container">
         <div class="row">
           <div class="col-6">
            <%= link_to "This isn't enough, I need more", root_path, class: 'next-quote' %>
           </div>
           <div class="col-6 footer-blurb">
             Finally working on what excites me! <ahref="[YOUR_PORTFOLIO_URL]">Zack V</a><br />
             Want to build your own Splutry Web App - <a href="https://online.bootcampspot.com">Learn how to code here</a>
            </div>
          </div>
        </div>
      </div>
      
      
  </body>
</html>
